<!doctype html>
<html>
<head>
    <title>My Vue app</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <style>
    table tr th{
            font-size: 16pt;
            color: white;
            background-color: blue;
            padding: 5px 15px;
    }
    table tr td {
        font-size: 16pt;
        color: gray;
        border: 1px solid gray;
    }
    </style> 
    <h1>Vue.js</h1>
    <div id="app">
        <p>データテーブルを表示する</p>
        <table>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>mail</th>
                <th>tel</th>
            </tr>
            <tr v-for="(item, index) in items" v-if="index % 2 == 0">
                <td>{{index}}</td>
                <td>{{item.name}}</td>
                <td>{{item.mail}}</td>
                <td>{{item.tel}}</td>
            </tr>
            <tr v-else>
                <td>***</td>
                <td>***</td>
                <td>***</td>
                <td>***</td>
            </tr>
        </table>
    </div>
    <hr>
    <button onclick="doAction();">Click</button>
    <!--  ここからVue  -->
    <script>
        var data = {
            items: [
                {name: 'Taro', mail: 'taro@yamada.com', tel: '999-000-999'},
                {name: 'Hanako',mail: 'hanako@gmail.com', tel: '333-000-999'},
                {name: 'Sachiko', mail: 'sachiko@ezweb.com', tel: '999-000-999'},
                {name: 'Unko', mail: 'unko@yamada.com', tel: '999-000-999'},
                {name: 'Unkoh', mail: 'taro@yamada.com', tel: '999-000-999'},
            ]
        }
        var app = new Vue({
            el: '#app',
            data: data
        });
    </script>
</body>
</html>